<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <!-- <link rel="stylesheet" type="text/css" href="../css/main-styles.css"> -->
    <link rel="stylesheet" type="text/css" href="../css/main-page.css">
    <link rel="stylesheet" type="text/css" href="../css/main-styles.css">
    <script src="https://kit.fontawesome.com/70da13af9d.js" crossorigin="anonymous"></script>
    <title>MAIN PAGE</title>
</head>

<body>
    <div class="base-container">
        <nav>
            <img src="../img/logo-czarne.png">
            <ul>
                <li>
                    <i class="fas-solid fa-house"></i>
                    <a href="/mainPage" class="button">Main page</a>
                </li>
                <li>
                    <i class="fas fa-user"></i>
                    <a href="/myData" class="button">My Data</a>
                </li>
                <li>
                    <i class="fas fa-utensils"></i>
                    <a href="/myEstates" class="button">My Estates</a>
                </li>
                <li>
                    <i class="fas fa-heart"></i>
                    <a href="/favorite" class="button">Favorite</a>
                </li>
                <li>
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <a href="/logout" class="button">Log out</a>
                </li>
            </ul>
        </nav>
        <main>
            <header>
                <div class="search-bar">
                    <form>
                        <input placeholder="search real-estate">
                    </form>
                </div>
                <div class="add-announcement">
                    <i class="fa-solid fa-plus"></i>
                    add announcement
                </div>
            </header>
            <div class="filters">
                <div class="property-select">
                    <select>
                        <option value="0">Select property:</option>
                        <option value="1">Home</option>
                        <option value="2">Apartments</option>
                        <option value="3">Business premises</option>
                        <option value="4">Plot</option>
                    </select>
                </div>
                <form>
                    <input placeholder="minimal price">
                </form>
                <form>
                    <input placeholder="maximum price">
                </form>
                <form>
                    <input placeholder="area of property">
                </form>
                <button class="button-38 button-38-filled" role="button">Filter</button>
            </div>
            <section class="announcements">
                <div id="announcement-1">
                    <img src="../img/dom-wolnostojacy.jpg">
                    <div>
                        <h2>Dom wolnostojący</h2>
                        <p>Dom wolnostojacy, w niedalekiej odleglosci od centrum. Dom posiada 4 pokoje, lazienke,
                            kuchnie oraz aneks jadalny.</p>
                        <div class="social-section">
                            <i class="fas fa-heart">600</i>
                        </div>
                    </div>
                </div>
                <div id="announcement-2">
                    <img src="../img/kawalerka.jpg">
                    <div>
                        <h2>Mieszkanie w centrum</h2>
                        <p>Mieszkanie w centrum. Posiada 2 pokoje, lazienke, kuchnie oraz aneks jadalny.</p>
                        <div class="social-section">
                            <i class="fas fa-heart">600</i>
                        </div>
                    </div>
                </div>
                <div id="announcement-3">
                    <img src="../img/dom-szeregowy.jpg">
                    <div>
                        <h2>Dom szeregowy</h2>
                        <p>Dom szeregowy, w niedalekiej odleglosci od centrum. Dom posiada 2 pokoje, lazienke, kuchnie
                            oraz aneks jadalny.</p>
                        <div class="social-section">
                            <i class="fas fa-heart">600</i>
                        </div>
                    </div>
                </div>
                <div id="announcement-4">
                    <img src="../img/kawalerka.jpg">
                    <div>
                        <h2>Kawalerka</h2>
                        <p>Kawalerka, w niedalekiej odleglosci od centrum. Posiada 1 pokoj, lazienke oraz kuchnie.</p>
                        <div class="social-section">
                            <i class="fas fa-heart">600</i>
                        </div>
                    </div>
                </div>
            </section>
        </main>

    </div>
</body>

<style>




</style>