body {
    margin: 0;
    box-sizing: border-box;
    max-height: 100vh;
    overflow: hidden;
}
.base-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
    border-bottom: 1px solid gray;
}

.search-bar {
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.search-bar{
    width: 30em;
    /*width: 70%;*/
    margin-top: 0.8em;
}
.search-button{
    height: 3vh;
    margin-top: 0.8em;
}

.search-bar>input {
    
    height: 2em;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 23px;
    width: 100%;
    text-align: center;
    letter-spacing: 0.72px;
    color: #A8A8A8;
    margin: 0;
    box-sizing: border-box;
}

.add-announcement {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2E6CD3 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 1.5em;
    color: white;
    letter-spacing: 0.1em;
    min-width: 15em;
}
.add-announcement>i {
    padding: 1em 1em;
}

.filters{
    background-color: #eeeeee;
    border: 0.5px solid rgb(204, 204, 204);
    -webkit-box-shadow: 1px 6px 6px -2px rgba(66, 68, 90, 1);
    -moz-box-shadow: 1px 6px 6px -2px rgba(66, 68, 90, 1);
    box-shadow: 1px 6px 6px -2px rgba(66, 68, 90, 1);
}
.filter-bar {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    font: normal normal normal 20px/27px Segoe UI;
    width: calc(100% - 40px);
}
.filter-bar>form,
.filter-bar>button {
    margin-left: 1em ;
}

.announcements>div {
    background-color: #eeeeee ;
    border: 1px solid gray;
    border-radius: 1em 1em 0 0;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.announcements>div>img {
    height: 50%;
    width: 100%;
    object-fit: cover;
    border-radius: 1em 1em 0 0;
}
.announcements>div>div {
    height: 50%;
    margin: 1em;
    color: #003666;
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.announcements {
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 2em;
    overflow: auto;
}

.announcement-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.price{
    font-size: 30px;
    text-align: right;
    margin: 0;
    height: auto;
}
h2{
    margin-bottom: 0;
}

@media (max-width: 800px) {
    .button-label{
        visibility: hidden;
    }
}
.social-section {
    display: flex;
    justify-content: space-between;
}